<div class="row">
    <div class="col-lg-12">
        <h1>About Us</h1>

        <p>
            Here we'll need to design first page. Blah blah blah
        </p>
        <p>I am using angular-ui-router and nested states in my application, and I also have a navigation bar. The nav bar is hand written, and uses ui-sref-active to highlight the current state. It is a two-level navigation bar.

Now, when I am in, say "products / categories" I would like both "products" (in level 1) and "categories" (in level 2) to be highlighted. However, using ui-sref-active, if I am in state "products.categories" then only that state is highlighted, not "products".

Is there some way to make "products" highlight in that state?</p>
    </div>
</div>